.borderless {
  padding: 0;
  display: table;

  &--lightgrey { background-color: $c-lightgray;  }
  &--lightbrown { background-color: $c-lightbrown;  }
  &--paleyellow { background-color: $c-paleyellow;  }
  &--sand { background-color: $c-sand;  }

  &__image {

      position: relative;

      @media(min-width: $screen-md) { height: ($screen-md / 32) * 9; }
      @media(min-width: $screen-lg) { height: ($screen-lg / 32) * 9; }
      @media(min-width: 1400px) {height: (1400px / 32) * 9; }
      @media(min-width: 1600px) { height: (1600px / 32) * 9; }

    @media (min-width: $screen-md) {
      overflow: hidden;
    }

    & img {
      width: 100%;
      @media (min-width: $screen-md) {
        display: block;
        width: auto;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    vertical-align: middle;
  }

  & > .sf_colsOut {
    padding: 0;
    @media (min-width: $screen-md) {
      display: table-cell;
      width: 50%;
      float: none;
      position: relative;
    }

    & > .sf_colsIn {
      margin: 0;
    }
  }

  &__content > .sf_colsIn > .sfContentBlock {
    padding: $gutter 2*$gutter;
    text-align: center;
    width: 100%;
    @media (min-width: $screen-md) {
      padding: 2*$gutter;
      text-align: left;
    }
    //@media (min-width: $screen-md)  { width: (970px / 2); }
    //@media (min-width: $screen-lg) { width: (1170px / 2); }

    h2:first-child {
      margin-top: 0;
    }

    li {
      text-align: left;
    }
  }

  &.is-reversed {
    @media (min-width: $screen-md) { direction: rtl; }

    & > .sf_colsOut {
      @media (min-width: $screen-md) { direction: ltr; }

      &.borderless__content > .sf_colsIn .sfContentBlock {
        float: right;
      }
    }
  }

    .quote {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        line-height: 32px;
        padding-left: 48px;
        padding-right: 48px;
        background: url(/images/default-source/corporate-social/quote-mark-close.png?sfvrsn=2) right bottom no-repeat;
        color: #282828;

        @media (min-width: 1290px) {
            font-size: 28px;
            line-height: 36px;
        }
        @media (min-width: 1450px) {
            line-height: 40px;
        }
    }
    .person {
        font-weight: bold;
        border-left: 1px solid #383a3c;
        padding-left: 10px;
        color: #282828;
        padding-top: 17px;
        margin-left: 49px;
        margin-top: -1px;

        span {
          display: block;
          font-weight: normal;
        }
    }
}

@media screen and (min-width:0\0) { // IE9+
  @media (min-width: $screen-md) {
    .borderless__image img {
      top: 0;
      transform: translate(-50%, 0);
    }
  }
}

.sfPageEditor .borderless__image img {
  position: static;
  transform: none;
}

.borderless__quote {
  .borderless__content {
    .sfContentBlock {
      background: url(/images/default-source/corporate-social/quote-mark-open.png?sfvrsn=2) 3% 11% no-repeat;
    }
  }
}
