.row {
    &.sf_cols {
        width:auto;
    }
    @media (max-width: $screen-xs-max) {
        .col-xs-12 + .col-xs-12 { margin-top: 20px; }
    }

    @media (max-width: $screen-sm-max) {
        .col-sm-12 + .col-sm-12 { margin-top: 20px;  }
    }

    @media (max-width: $screen-md-max) {
        .col-md-12 + .col-md-12 { margin-top: 20px;  }
    }
}