.navbar-brand {
    height: auto;
    @media (min-width: ) {

    }
}

body .HEADER.kaplan__page-header {
    padding-top: 0;
    .navbar-brand {
        margin: 20px 45px 5px 30px;
        &--mobile {
            display: block;
            @media (min-width: $screen-md-min) {
                display: none;
            }
        }
    }

    .navbar-toggle {
        color: #fff;
        font-weight: 400;
        display: inline-block;
        position: relative;
        right: initial;
        top: 20px;
        margin-top: 0;
        font-size: 15px;
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }
}

.header {
    &__top {
        background-color: $c-darkgrey;

        @media (max-width: $grid-float-breakpoint-max) {
            .audience-switcher { display: none; }
        }
    }

    &__tertiary {
        display: inline-block;
        float: right;
        padding-top: 15px;
        font-weight: 400;
        color: white;
        font-size: 12px;
        @media (max-width: $grid-float-breakpoint-max) {
            display: none;
        }
        &-items {
            display: inline-block;
            a {
                color: white;
                margin: 0 18px;
            }
        }
    }
}

.non-mobile-nav-container {
    position: relative;
}
