.insights-container {
    background-color: #e4e5e5;
}

.blog-filter {
    font-size: 14px;
    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
    &__title {
        color: $c-darkgrey;
        padding-right: 25px;
        display: inline-block;
        font-weight: 400;
        margin-left: 10px;
        float: left;
        @media (min-width: $screen-sm-min) {
            float: none;
            margin-left: 0px;
        }

        @media (max-width: 500px) {
            float: none;
            text-align: left;
            display: block;
        }
    }
    &__selectors {
        border-bottom: 1px solid $c-insights-darkgrey;

        text-align: right;
        @media (min-width: $screen-sm-min) {
            text-align: right;
        }
    }
    &__selector {
        display: inline-block;

        @media (max-width: 500px) {
            text-align: left;
            display: block;
        }
        &-item {
            display: inline-block;
            padding: 18px 12px 15px;
            color: $c-darkgrey;
            @media (min-width: $screen-sm-min) {
                padding: 18px 19px 15px;
            }
            &:after {
                color: $c-darkgrey;
                content: url(/custom/build/images/down-arrow.png);
                display: inline-block;
                position: relative;
                bottom: 2px;
                margin-left: 5px;
            }
            &.selected {
                background-color: $c-insights-darkgrey;
            }
            &:hover, &:active, &:focus { text-decoration: none; color: $c-darkgrey; }
        }
    }
    &__clear {
        display: inline-block;
        color: $c-darkgrey;
        padding: 18px 0 15px 9px;
        &:after {
            content: url(/custom/build/images/cross.png);
            color: $c-darkgrey;
            position: relative;
            margin-left: 5px;
        }
        &:hover, &:active, &:focus { text-decoration: none; color: $c-darkgrey; }
    }

    &__set {
        border-bottom: 1px solid $c-insights-darkgrey;
        padding: 15px 0;
        display:none;
        &.active {
            display: block;
        }
    }
    &__item {
        display: inline-block;
        background-color: white;
        color: $c-darkgrey;
        padding: 3px 8px;
        margin: 10px 8px;
        font-size: 13px;
        border-radius: 3px;
        font-weight: 400;
        &:hover, &:active, &:focus { text-decoration: none; color: $c-darkgrey; }
        &:after { display: none; }
        &.selected {
            background-color: #ffc425;
        }
        &.no-items {
            opacity: .3;
            pointer-events: none;
        }
    }
}

.blog__lazy-load {
    margin: 0 auto 10px;
    text-align: center;
    padding: 4px 10px 15px 10px;
    display: inline-block;
    position: relative;
    color: $x-deepGrey;
    font-weight: 600;
    &:hover, &:focus { text-decoration: none; color: black; }
    &:after {
        color: $x-deepGrey;
        content: url(/custom/build/images/cheveron-down.png);
        width: 12px;
        height: 8px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
    }
}
