.btn-primary {
    background-color: #0069aa;
    color: #fff;

    @include rem((
     border: 1px solid #015081
    ));

    &:hover {
      background-color: #0069aa;
      color: #fff;
    }
}

.btn-cta {
  background-color: $c-download;
  color:$x-deepGrey;

  &:hover {
    background-color: $c-download;
    color:$x-deepGrey;
  }
}

.btn-download {
  background: $c-download url(#{$iconLogoPath}/download-icon.png) 92% center no-repeat;
  border: none;
  color: #383a3c;
  text-align: left;
}
