.container-wrapper {
  color: $body-colour;
  padding: 44px 20px;
  position: relative;
  z-index: 10;

  @media (min-width: 992px) {
    padding: 47px 0 37px;
  }

  &.white { background-color: white; }
  &.deepblue { background-color: $c-deepBlue; color: white; }
  &.yellow  { background-color: $c-yellow; }
  &.lightgrey  { background-color: $c-lightgray; }
  &.icecold { background-color: $c-icecold; }
  &.darkgrey {
    background-color: $c-darkgrey; color: #fff;
    a, p {
      color: #fff;
    }
  }
  &.salmon { background-color: $c-salmon; }
  &.tranquil { background-color: $c-tranquil; }
  &.beige { background-color: $c-beige; }
  &.stone { background-color: $c-stone; }
  &.linen { background-color: $c-linen;}
  &.footnote {padding: 26px 0 16px;}
  &--minimal-padding {
      padding: 20px 25px 10px;
      @media (min-width: $screen-md-min) {
          padding-left: 0;
          padding-right: 0;
      }
  }

}

.container__apprentice-success {

  padding-bottom: 44px;

  @media(min-width: 992px) {
    padding-bottom: 47px;
  }

}
