.hero-banner {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  min-height: 320px !important;


  /* Block MQ */

  @media(min-width: 768px) {
    background-color: #fff;
  }

  @media(min-width: $screen-lg-min) {
    min-height: 476px !important;
    max-height: 476px !important;
  }

  @media(min-width: 2000px) {
    min-height: 730px !important;
    max-height: 730px !important;
  }

  @media(min-width: 2500px) {
    min-height: 800px !important;
    max-height: 800px !important;
  }

  .container {
    padding: 0 20px;
  }

  img {
   display: block;
   margin: 0 auto;

   @media(min-width: $screen-lg-min) {
     margin: 0;
   }

  }

  h1, h2, p {
    text-align: center;

    @media(min-width: $screen-lg-min) {
      text-align: left;
    }

  }

  h1 {
    @include rem((
      font-size: 42px,
      margin-bottom: 24px,
    ));

    @media(min-width: $screen-lg-min) {
      @include rem((
        font-size: 48px
      ));
    }
  }

  .btn {
    display: block;
    background: #abe400;
    color: #383a3c;
    font-weight: 400;

    @include rem((
      width: 200px,
      margin: 24px auto 0,
      border-radius: 5px
    ));
  }

  .cta-box {
    background: #fff;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: $screen-lg-min) {
      color: #383a3c;
      margin-left: 0;
    }

    p {
      @media(min-width: $screen-lg-min) {
        text-align: center;
      }
    }

    @include rem((
      border: 2px solid #c9cbcc,
      padding: 20px,
      border-radius: 6px,
      margin-top: 46px,
      width: 275px
    ));

    @media(min-width: $screen-xs-min) {

      @include rem((
        width: 320px
      ));

    }


  }

}


.hero-banner__body {

  margin-top: 49%;

  @media(min-width: 799px) {
    margin-top: 50%;
  }

  @media(min-width: 940px) {
    margin-top: 56%;
  }

  @media(min-width: 992px) {
    margin-top: 47%;
  }

  @media(min-width: 1000px) {
    margin-top: 44%;
  }

  @media(min-width: 1200px) {
    margin: 6% 0;
  }

  @media(min-width: 2000px) {
    margin: 15% 0 14%;
  }

}

.hero-banner__logo {

  display: none;

  @media(min-width: $screen-lg-min) {
    display: block;
    min-height: 437px !important;
  }

  @media(min-width: 2000px) {
    min-height: 550px !important;
  }

  img {
    display: none;

    @media(min-width: $screen-lg-min) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 3%;
    }
  }
}


/* Theming */
.hero-banner--white {

  color: #383a3c;

  @media(min-width: $screen-lg-min) {
    color: #fff;
  }

}
