.tick-box .sfContentBlock {
    text-align: center;
    &:before {
        width: 35px;
        height: 30px;
        background: url(/images/default-source/responsive-theme/green-tick.png?sfvrsn=2) center 0 no-repeat;
        display: block;
        text-align: center;
        margin: 0 auto 15px;
        content: "";
    }
}

.numbered-box {
    counter-reset: steps;
    .sfContentBlock {
        text-align: center;
        &:before {
            counter-increment: steps;
            content: counter(steps);
            font-size: 40px;
            font-weight: 600;
            color: #ec796b;
            display: block;
            text-align: center;
            margin: 0 auto 15px;
        }
    }
}