.quote-block {
    background-image: url(/images/default-source/responsive-theme/bg_grad_1600x900.png?Status=Temp&sfvrsn=2);
    background-size: 100% 100%;
    padding: 35px;
    color: white;
    &__quote {
        position: relative;
        padding-left: 75px;
        padding-right: 75px;
        &:before {
            content:"";
            display: inline-block;
            width: 30px;
            height: 27px;
            background-image: url(/images/default-source/responsive-theme/left_quote_mark.png);
            background-position: left top;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:after {
            content:"";
            display: inline-block;
            width: 30px;
            height: 27px;
            background-image: url(/images/default-source/responsive-theme/right_quote_mark.png);
            background-position: right bottom;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &__author {
        margin-left: 75px;
        margin-top: 10px;
        padding: 10px 0 0 8px;
        border-left: solid 1px #6692b9;
        font-weight: bold;
        span {
            font-weight: normal;
            display: block;
        }
    }
}