table {
    margin: 16px 0;

    th {
        background-color: #383a3c;
        color: #fff;
        padding: 8px 48px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }

    td {
        border: 1px solid #c2c2bd;
        padding: 6px 0;
    }

    .even td {
        background-color: #f9f7f4;
    }

    .odd td {
        background-color: white;
    }
}

.more-info {
    background: #0069aa;
    border-color: #015081;
    border-radius: 0;
    margin: 0 auto;
    padding: 8px 24px;
    width: 129px;
    float: none;
    display: block;
}


@media only screen and (max-width: $screen-sm-max) {
    .courselisting {
        td:nth-of-type(1):before { content: "Course"; font-weight: bold; }
        td:nth-of-type(2):before { content: "Level of study"; font-weight: bold; }
        td:nth-of-type(3):before { content: "Specification"; font-weight: bold; }
        td:nth-of-type(4):before { content: "Length of study"; font-weight: bold; }
        td:nth-of-type(5):before { content: "Kaplan business"; font-weight: bold; }
        td:nth-of-type(6):before { content: ""; }
        table, tbody, td, th, tr { display: block; }
        thead { display: none; }
        tr { margin-bottom: 16px; }
        td {
            position: relative;
            text-align: right;
        }
        td:before {
            text-align: left;
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        table {
            background: #f9f7f4;
            border: 1px solid #c2c2bd;
            padding: 8px;
            max-width: 100%;
            width: 100%;
        }
        &.table-responsive {
            border: none;
            width: auto;
        }
    }
}

.courselisting.table-responsive {
    overflow-x: visible;
}