.check-list .sfContentBlock {
    text-align: center;
    margin-bottom: 15px;

    &:before {
        width: 35px;
        height: 30px;
        background: url(/images/default-source/responsive-theme/green-tick.png?sfvrsn=2) center 0 no-repeat;
        display: block;
        text-align: center;
        margin: 0 auto 15px;
        content: "";
    }
}
