.confirmation {
  padding-bottom: 0;
}

.confirmation__blog {
  padding-top: 37px;
}

.confirmation-banner {
  background: #0069aa;
  color: #fff;
  padding: 30px;
  padding: 3rem;

  .btn {
    margin-top: 5rem;
    margin-left: 5rem;
  }

}
