.container-wrapper {
  color: $body-colour;
  padding: 44px 20px;


  @media (min-width: 992px) {
    padding: 46px 0;
  }

  &.white { background-color: white; }
  &.deepblue { background-color: $c-deepBlue; color: white;}
  &.yellow  { background-color: $c-yellow; }
  &.lightgrey  { background-color: $c-lightgray; }
  &.icecold { background-color: $c-icecold; }
  &.darkgrey { background-color: $c-darkgrey; }
  &.salmon { background-color: $c-salmon;}
  &.tranquil { background-color: $c-tranquil;}
}
