.hero-banner {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  min-height: 320px !important;


  /* Block MQ */

  @media(min-width: 768px) {
    background-color: #fff;
  }

  @media(min-width: 1200px) {
    min-height: 500px !important;
    max-height: 500px !important;
  }

  @media(min-width: 2000px) {
    min-height: 680px !important;
    max-height: 680px !important;
  }


  .container {
    padding: 0 20px;
  }

  img {
   display: block;
   margin: 0 auto;
  }

  h1, h2, p {
    text-align: center;

    @media(min-width: 900px) {
      text-align: left;
    }

  }

  h1 {
    @include rem((
      margin-bottom: 24px
    ));
  }

  .btn {
    display: block;
    background: #0069aa;
    color: #fff;

    @include rem((
      width: 170px,
      margin: 24px auto 0,
      border: 1px solid #015081
    ));
  }

  .cta-box {
    background: #fff;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: 900px) {
      color: #383a3c;
      margin-left: 0;
      text-align: center;
    }

    @include rem((
      border: 2px solid #c9cbcc,
      padding: 20px,
      border-radius: 6px,
      margin-top: 46px,
      width: 320px
    ));
  }

}


.hero-banner__body {

  margin-top: 45%;

  @media(min-width: 799px) {
    margin-top: 50%;
  }


  @media(min-width: 900px) {
    margin: 8% 0;
  }

}

/* Theming */
.hero-banner--white {

  color: #383a3c;

  @media(min-width: 900px) {
    color: #fff;
  }

}
