.hero-banner {
  background-repeat: no-repeat;
  background-position: center top;

  @include rem((
    padding: 60px 0
  ));

  /* Block MQ */

  @media(min-width: 768px) {
    background-color: #fff;
  }

  @media(min-width: 1024px) {
    @include rem((
      padding: 120px 0
    ));
  }

  @media(min-width: 1600px) {
    @include rem((
      padding: 240px 0
    ));
  }

  @media(min-width: 2200px) {
    @include rem((
      padding: 320px 0
    ));
  }


  .container {
    padding: 0 20px;
  }

  img {
   display: block;
   margin: 0 auto;
  }

  h1, h2, p {
    text-align: center;

    @media(min-width: 1024px) {
      text-align: left;
    }

  }

  h1 {
    @include rem((
      margin-bottom: 24px
    ));
  }

  .btn {
    display: block;
    background: #0069aa;
    color: #fff;

    @include rem((
      width: 170px,
      margin: 24px auto 0,
      border: 1px solid #015081
    ));
  }

  .cta-box {
    background: #fff;
    margin-left: auto;
    margin-right: auto;

    @include rem((
      border: 2px solid #c9cbcc,
      padding: 20px,
      border-radius: 6px,
      margin-top: 46px,
      width: 320px
    ));
  }
}


.hero-banner__body {

  @include rem((
    margin-top: 130px
  ));

  @media(min-width: 321px) {
    @include rem((
      margin-top: 256px
    ));
  }

  @media(min-width: 640px) {
    @include rem((
      margin-top: 313px
    ));
  }

  @media(min-width: 800px) {
    @include rem((
      margin-top: 402px
    ));
  }

  @media(min-width: 1024px) {
    margin-top: 0;
  }

}

/* Theming */
.hero-banner--white {

  color: #383a3c;

  @media(min-width: 1024px) {
    color: #fff;
  }
}
