.numbered-steps {
    counter-reset: steps;
    margin-bottom: 15px;

    .sfContentBlock {
        text-align: center;
        &:before {
            counter-increment: steps;
            content: counter(steps);
            font-size: 40px;
            font-weight: 600;
            color: #ec796b;
            display: block;
            text-align: center;
            margin: 0 auto 15px;
        }
    }
}
