.promo {

  color: #000;

  @media (min-width: $screen-sm-min) {
    width: 75%;
    margin: 0 auto;
  }

  @media(min-width: $screen-md-min) {
    width: 848px;
  }

  .promo__title {
    text-align: center;
  }
}

.promo__sign-up {

  .btn {
    background: #4ea844;
    border: .1rem solid #5b7917;
    color: #fff;
    margin: 3.2rem auto 1.4rem;
    display: block;
    width: 50%;

    @media (min-width: $screen-sm-min) {
      width: 30%;
    }
  }
}

.promo__app-social {

   a {
     display: block;
     width: 75px;
     height: 75px;
     text-indent: -5000px;
     margin: 0 auto;
   }

   ul {
     padding-left: 0;

     @include clearfix-micro();

     @media(min-width: $screen-sm-min) {
       margin-top: 5.8rem;
       margin-bottom: 5.5rem;
     }

     @media(min-width: $screen-md-min) {
       width: 648px;
       margin: 5.8rem auto 5.5rem;
     }

   }

   li {
     list-style: none;

     @media (min-width: $screen-sm-min) {
       float: left;
       width: 33%;
     }
   }

   p {
     font-size: 24px;
     text-align: center;
   }

   .facebook-icon {
     background: url(/images/default-source/icons/facebook_icon.png) 0 0 no-repeat;
   }

   .twitter-icon {
     background: url(/images/default-source/icons/twitter_icon.png) 0 0 no-repeat;
   }

   .instagram-icon {
     background: url(/images/default-source/icons/instagram_icon.png) 0 0 no-repeat;
   }

}

.promo__submit-cv {
  background: #3f4142;
  width: 100%;
  padding: 30px;
  padding: 3rem;

  h2 {
    color: #e6bf5e;
    font-size: 32px;
    line-height: 4rem;
  }

  .btn {
    width: 130px;
    margin: 2rem auto 0;
    display: block;
  }

  .btn-primary {
    background: #4aaa42;
    color: #fff;
  }
}


.promo__smarter-apprenticeships {
  background: #393a3c;
  color: #fff;
  text-align: center;

  @include rem((
    padding: 53px 20px
  ));

  p {
    font-weight: 300;
    max-width: 848px;
    margin: 0 auto;

    @include rem((
      font-size: 20px
    ));

  }

  a {
    display: block;
    width: 50%;
    background: url(/images/default-source/icons/brochure-download.png) center top no-repeat;
    color: #fff;
    text-align: center;

    @include rem((
      padding-top: 90px,
      margin: 33px auto 0
    ));

  }

  @media(min-width: 1200px) {

    @include rem((
      padding: 31px 20px
    ));

    background: #393a3c url(/images/default-source/study-materials/extra-large/body_apprenticeships_and_internships_smarter_apprenticeships_brochure_download_xlarge.jpg) 60% bottom no-repeat;

    p {
      text-align: left;
    }

    a {
      font-weight: 600;

      @media(min-width: 1200px) {

          @include rem((
            margin: 33px 0 0,
            background-position: 0 0,
            padding: 27px 0 48px 104px
          ));

          width: 100%;
          text-align: left;
      }
    }
  }

  @media(min-width: 1316px){

    @include rem((
      padding: 51px 20px
    ));

  }

}

.promo__get-ahead-download {

  @media(min-width: 1200px) {
    background: #383a3c url(/images/default-source/apprenticeships/guide-covers.jpg) 0 bottom no-repeat;

    @include rem((
      padding-bottom: 58px
    ));

  }

  a {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;

    @media(min-width: 1250px) {
      text-align: left;

      @include rem((
        padding-left: 115px
      ));
    }

    &:not(:last-child) {
      @include rem((
        margin-bottom: 16px
      ));
    }

  }
}

.promo__get-ahead-download__download-guide {

  @include clearfix-micro();

  background: url(/images/default-source/icons/brochure-download.png) center 54% no-repeat;
  min-height: 250px;

  @media(min-width: 1250px) {
    background-position: left 66%;

  }

  h2, p {
   text-align: center;

   @media(min-width: 1250px) {
     text-align: left;
   }
  }

  p {
    @media(max-width: 1249px) {
      @include rem((
        margin-bottom: 115px
      ));
    }

    @media(min-width: 1250px) {
      @include rem((
        margin-bottom: 26px
      ))
    }

  }

}
