.sf_pager {
    text-align: left;
    margin-left: 0;
    padding-left: 0
}

.sf_pager li {
    list-style: none;
    float: left
}

.sf_pager .pager-previous {
    margin-right: 12px
}

.sf_pager .pager-next {
    margin-left: 12px
}

.sf_pagerNumeric {
    margin-bottom: 32px;
    a {
        background: #0069aa;
        padding: 5px 8px;
        border: 1px solid #0069aa;
        color: #fff;
        margin-right: 5px;
    }
    .sf_PagerCurrent {
        background: #fff;
        color: #0069aa;
        font-weight: 700
    }
}