.kaplan__search {
    &-box {
        width: 100%;
        padding: 20px 0;
        background: #fff
    }
    &-container {
        background: url(/images/default-source/responsive-theme/search-glass.jpg) no-repeat;
        height: 41px;
        input[type=button] {
            float: left;
            margin-top: 3px;
        }
        .cta-btn {
            color: #fff;
            padding: 8px 48px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 5px;
            border: 1px solid #fff;
            display: inline-block;
            margin-bottom: 16px;
            margin-right: 16px;
            background: #0069aa;
            border-color: #015081;
            float: left;
            margin-top: 3px;
        }
    }
    &-text {
        margin-left: 45px;
        height: 100%;
        width: 79%;
        font-size: 30px;
        color: #383a3c;
        border: 0;
        float: left
    }

    &-close {
        background: url(/images/default-source/responsive-theme/search-close.jpg) no-repeat;
        display: block;
        text-indent: -9999px;
        height: 26px;
        width: 26px;
        float: left;
        margin-top: 8px;
    }
}