.web-lead-form {
    margin: 24px 0 0;
}

.web-lead-form h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 29px
}

.web-lead-form form {
    background: #f4f1ed;
    padding: 16px 16px 0
}

.web-lead-form .form-row {
    margin-bottom: 8px;
}

@media(min-width:768px) {
    .web-lead-form {
        height: auto;
    }
    .web-lead-form .form-row {
        float: left;
        width: 48%
    }
    .web-lead-form .form-row:nth-child(odd) {
        margin-right: 16px
    }
    .web-lead-form .submit,
    .web-lead-form .terms {
        width: 100%;
        margin-right: 0
    }
}

.web-lead-form label {
    display: block;
    text-align: center;
    font-weight: 400
}

.web-lead-form label sup {
    color: red
}

.web-lead-form .lead-source {
    display: none
}

.web-lead-form .cta-btn {
    margin: 24px auto;
    display: block;
}
.web-lead-form input[type=text] {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #d8d8d8
}

.web-lead-form .postcode input {
    display: block;
    width: 70%;
    margin: 0 auto
}

@media(min-width: $screen-md-min) {
    .web-lead-form label {
        text-align: left
    }
    .web-lead-form .postcode input {
        margin: 0;
        width: 50%
    }
}

.web-lead-form select {
    width: 100%
}

.mod-content-promo .web-lead-form .download-btn,
.web-lead-form .cta-btn,
.web-lead-form .mod-content-promo .download-btn {
    margin: 24px auto;
    display: block
}

.web-lead-form .terms p {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

@media(min-width:768px) {
    .web-lead-form .terms p {
        margin-top: 0
    }
}

/* Clearfix Hack */
.web-lead-form .group::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
	}
* html .web-lead-form .group, * html .web-lead-form { zoom: 1; } /* IE6 */
*:first-child+html .web-lead-form .group { zoom: 1; } /* IE7 */

.web-lead-form .group::before {
    content: "";
    display: table;
}
