.page__home {

  .panel__professional-quals,
  .panel__apprenticeships {
    @media(min-width: $screen-md-min) {
      padding-right: 7px;
    }
  }

  .panel__lpd,
  .panel__study-materials {
    @media(min-width: $screen-md-min) {
      padding-left: 7px;
    }
  }

  .panel__apprenticeships,
  .panel__study-materials {
    .kaplan-panel__primary {
      @media(min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }

  .panel__home-support {
    @media(min-width: $screen-md-min) {
      padding-top: 0;
    }
  }

  .panel__home-quote {

    @media(min-width: $screen-md-min) {
      padding-right: 7px;
    }

  }

  .award-training {
    @media(min-width: $screen-md-min) {
      padding-left: 7px;
    }

    .container-wrapper.lightgrey {
        padding-bottom: 0;
        padding-top: 25px;
    }
  }

    .blue-quote-block { 
        @media (max-width: $screen-xs-max) {
            margin-top: 20px; 
        }

        blockquote {
            @media (min-width: $screen-md-min) {
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }

  .insights-see-more { padding-top: 0; }
}
