.page__apprentice-internships {

  .hero-banner__body {
    @media(min-width: 992px) {
      margin-bottom: 0;
    }
  }


  .col-apprenticeships {
    @media(min-width: $screen-md-min) {
      padding-right: 7px;
      clear: left;
    }
  }

  .col-internships {
    @media(min-width: $screen-md-min) {
      padding-left: 7px;
    }
  }


}
