// Linear-gradient
// @param {Keyword | Angle} $direction - Linear gradient direction
// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@mixin background-lined-gradient($topColour) {
    $darker: darken($topColour, 1%);
    $darkest: darken($topColour, 4%);
    background: linear-gradient(149deg, $topColour 0%, $topColour 50%, $darker 50.2%, $darkest 100% ); 
}