//
// Base -> Typography
// 
// Use this file for site-wide typographic
// adjustments, including web fonts and headings.
// --------------------------------------------------

.h2 .highlight { color: $brand-colour-primary; }
h1,.h2, h2, .h2, h3, .h3, h4, .h4 {  font-weight: 100;  margin-top: 0; margin-bottom: 15px; } 
.narrow { max-width: 760px; margin: 10px auto 20px; }
a, p { font-weight: 400; }
.cta-btn, .mod-content-promo .download-btn, .quote-text p, .sub-intro, h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans",sans-serif;
}

.category-title {
    font-size: 36px;
    font-weight: 300;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #383a3c;
    padding-left: 0;
    margin-left: 15px;
    @media (min-width: $screen-md-min) {
        margin-left: 0;
    }
}

