<?xml version="1.0"?>
<appSettings>
  <!--General-->
  <add key="GoogleAnalyticsCode" value=" "/>
  <add key="Debug" value="true"/>
  <add key="DefaultPageSize" value="15"/>
  <add key="SiteEmailFromAddress" value="noreply@appius.com"/>
  <add key="SiteEmailToAddress" value="katie@appius.com"/>
  <add key="ErrorEmailToAddress" value="katie@appius.com"/>
  <add key="DebugEmailToAddress" value="katie@appius.com,john.akerman@appius.com"/>
  <add key="SiteName" value="KaplanUK"/>
  <add key="SiteUrl" value="http://main.kaplan.appius.co.uk"/>
  <add key="SmtpServer" value="127.0.0.1"/>
  <add key="SmtpServerPort" value="25"/>
  <add key="OtherOptionText" value="Other"/>
  <add key="ErrorEmailUserAgentExclusionList" value="Xenu,Link Sleuth,Pingdom.com_bot,Genio,Googlebot,Slurp,bingbot,Siteimprove.com,facebookexternalhit,Wget,domainreanimator.com,majestic,yandex.com,mojeek.com,linkfluence.net,tweetedtimes.com,linkdex.com,wesee.com,wotbox.com,Aboundex,SafeSearch microdata crawler"/>
  <add key="ErrorEmailPathAndFileNameExclusionList" value="/images/,/videos/,/docs/,/Custom/Assets"/>
  <!--OpenGraph-->
  <add key="OpenGraphLocale" value="en_GB"/>
  <add key="TwitterAccount" value=""/>
  <add key="FacebookAppId" value=""/>
  <add key="LogoUrl" value=""/>
  <!--Cookies-->
  <add key="CookieEncryptionKey" value=""/>
  <add key="CookieLifetimeInDays" value=""/>
  <!--Google Recaptcha-->
  <add key="GoogleRecaptchaSiteKey" value=""/>
  <add key="GoogleRecaptchaSecretKey" value=""/>
</appSettings>